 *{ width: 100%; margin: 0; padding: 0; }

  a {
    text-decoration: none;
    transition: color 1s ease;
  }

  a:hover{
    color: orange;
  }

  .highlight {
    background-color: #7EADEE;
    height: 30px;
  }

  .centerDiv{
    width: 1232px;
    margin: auto;
  }

  .picture {
    height: 500px;
    overflow: hidden;
    background-image: url(images/main.png);
    background-position: center;
    background-color: white;
    background-size: auto 90%;
    background-repeat: no-repeat;
    border-radius: 100%;
    width: 500px;
    float: left;
  }

  .skills{
    background-color:#232323;
    height: 1020px;
    padding-top: 70px;
  }

  .horizontalLine{
    background-color: #7EADEE;
    height: 5px;
  }

  .experience{
    background-color:#232323;
    height: 1820px;
    padding-top: 70px;
  }

  .experienceText {
    width: 1120px;
  }

  .experienceHeader{
    margin-top: 70px;
  }

  .contact {
    background-color:#7EADEE;
    height: 440px;
    padding-top: 70px;
  }

  .topicHeader {
    font-family: AvenirNext-DemiBold;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
  }

  .subtopicHeader {
    font-family: AvenirNext-DemiBold;
    font-size: 40px;
    color: #7EADEE;
    letter-spacing: 0;
  }

  .regText {
    /* HTML&CSS Javascript: */
    font-family: AvenirNext-Regular;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .skillText{
    list-style-type: none;
    width: 236px;
    float: left;
  }

  .skillText li {
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    display: inline-block;
  }

  .centerDiv li {
    list-style-type: none;
  }

  .spittinBars{
    height: 10px;
    background-color: #7EADEE;
  }

  .releventSkills {
    width: 640px;
    float:left;
  }

  .relAndIrrel{
    margin-top: 70px;
    height: 750px;
  }

  .skillBarsDiv {
    display: inline-block;
    width: 400px;
    margin-top: 40px;
  }

  .rightSection {
    width: 512px;
    float: left;
    margin-left: 80px;
  }

  .irreleventSkills {
    margin-left: 40px;
  }

  .barsAndRevSkills{
    float: left;
  }

  .skill1 {
    width: 100px;
  }

  .skill2 {
    width: 200px;
  }

  .skill3 {
    width: 300px;
  }

  .skill4 {
    width: 400px;
  }

  .videoImage{
    height: 230px;
    width: 410px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    margin-top: 20px;
  }

  .mainImage{
    height: 100%;
  }

  .contactButton {
    /* contact: */
  font-family: AvenirNext-Regular;
  font-size: 30px;
  color: #7EADEE;
  background-color: transparent;
  letter-spacing: 0;
  width: 267px;
  height: 70px;
  float:left;
  margin-top: 60px;
  border: 4px solid #7EADEE;
  transition: color 1s ease;
  transition: background-color 1s ease;
  }

  .samuelDonner{
    font-family: Georgia;
    font-size: 64px;
    color: #7EADEE;
    letter-spacing: 0;
    width: 563px;
    float: left;
  }

  .contactButton:hover {
      background-color: #7EADEE;
      color: white;
  }

  .icon {
    width: 85px;
    height: 85px;
    margin-right: 10px;
    margin-top: 30px;
  }

  .banner {
    height: 530px;
  }

  .bannerTextContainer {
    width: 564px;
    margin-top: 30px;
    float:left;
  }

  .aboutText {
    font-family: Georgia;
    font-size: 30px;
    color: #7EADEE;
    letter-spacing: 0;
    margin-top: 50px;
    width: 378px;
    float:left;
  }
